{% extends '@Spryker:DashboardMerchantPortalGui/Dashboard/index.twig' %}

{% block content %}
    <div class="header">
        <h1>Welcome to Dashboard's Portal!</h1>
    </div>
    {{ parent() }}
{% endblock %}
